
  .clockdate-wrapper {
    background-color: #444;
    padding:10px;
    /* max-width:350px;
    width:100%;
    text-align:center; 
    border-radius:5px;
    margin:0 auto; 
    margin-top:15%;  */ 
} 

#clock{
    background-color: #444;
    font-family: sans-serif;
    font-size:20px;
    text-shadow:0px 0px 1px #fff;
    color:#fff;
}

#clock span {
    color:#888;
    text-shadow:0px 0px 1px #333;
    font-size:12px;
    position:relative; 
    top:0px;
    left:-4px;
}

#date {
    letter-spacing:2px;
    font-size:10px;
    font-family:arial,sans-serif;
    color:#fff;
}

body {
  /*font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  /*font-size: 15px;
  /*line-height: 34px;
  /*color: #777;
  /*padding-bottom:80px; */
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  color: #333;
  font-weight: 300;
  text-align: center;
  background: url("../images/img_rockywall.png");
}

h1{
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-color: #444;
  color: #fff;
}

#p1 {
  color: #279;
  font-size: 10px;
}

#endTitle2 {
  color: rgb(238, 12, 12);

}


.question{
  font-size: 30px;
  margin-bottom: 10px;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}
button{
  font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    background-color: #279;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}
button:hover{
    background-color: #38a;
}

.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 40px;
}

#logo {
  background-image: linear-gradient(rgba(22, 74, 87, 0.5), rgba(68, 68, 68, 0.5)), url("assets/images/img_question.png");
  background-repeat: repeat-x;
  padding-top: 5px;
  margin: 5px;
  max-height: 75px;
  letter-spacing:2px;
  font-size:20px;
  font-family:arial,sans-serif;
  color:#888;
}

#countdowntimer {
  background: rgb(24, 235, 5);
  font-family:arial,sans-serif;
  color:rgb(34, 100, 28);

  margin: 1px;
}

.footercontainer {
  font-size: 12px;
  color: #fff;
  background-color: #444;
  height: 50px;
  padding: 20px 0;
  margin: 25px;
  text-align:center; 
}

.jumbo1 {

  padding: 5px;
  border-bottom: solid;
  border-bottom-color: rgb(129, 40, 40)
}
